{{ define "main" }}
{{ `<!-- _default/single.html -->` | safeHTML }}
<div class="m-4">
  <h1 class="text-3xl font-bold text-noonblue">{{ .Title }}</h1>
  <div class="flex justify-between">
    <time class="text-xl" datetime="{{ .Date }}">
      {{ .Date.Format "2006-01-02" }}
    </time>
    {{- partial "label.html" (dict "context" . "text" .CurrentSection.Title "link" .CurrentSection.RelPermalink) }}
  </div>
  <hr class="my-4">
  <div class="mt-8 overflow-hidden">
    <article class="prose mx-auto">{{ .Content }}</article>
  </div>
</div>
{{ end }}
