{{- /* A partial template to render a label. Expects the context argument to be
a dict with the following keys:
- context: The Page context which includes this partial.
- text: The text to include in the label.
- link: The URL to enter when clicked (optional).

Example usage:
{{- partial "label.html" (dict "context" . "text" "Label" "link" .RelPermalink) }}
*/ -}}
{{ if site.IsServer }}
{{ `<!-- partials/label.html -->` | safeHTML }}
{{ end }}
<div class="flex rounded-md bg-noonblue align-middle">
  {{ if isset . "link" }}
  <a href="{{ .link }}">
    {{ end }}
    <span class="text-sm m-1 text-gray-50">
      {{ .text }}
    </span>
    {{ if isset . "link" }}
  </a>
  {{ end }}
</div>
